#app {
  background-color: #222;
}
.cards__tv {
  display: flex;
  align-items: center;
  background-color: black;
}

.cards__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: #FFF;
}

.cards__info > h1 {
  font-size: 3rem;
  font-weight: bold;
}

.cards__tv {
  display: flex;
  justify-content: center;
}

.cards__tv > img {
  width: 500px;
  z-index: 1;
}

.image__video_1 {
  width: 350px;
  height: 360px;
  position: absolute;
}

.image__video_1 > video {
  width: 100%;
  height: 100%;
}

/* ESTILOS CARD PHONE */

.cards__phone {
  display: flex;
  align-items: center;
  background-color: black;
}

.cards__phone-info {
  display: flex;
  flex-direction: row-reverse;
}

.img__phone {
  width: 300px;
}

.img__phone > img {
  width: 100%;
}

.phone__info {
  background-color: black;
  border: 2px solid rgba(255,255,255,.25);
  border-radius: 1rem;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: absolute;
  bottom: 8%;
  left: 15%;
}

.phone__gif {
  display: flex;
  width: 100px;
  background-image: url('../../images/download-icon.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.img__container-phone {
  width: 60px;
  height: 80px;
}

.img__container-phone > img {
  width: 100%;
  height: 100%;
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__container > p {
  color: white;
  margin-bottom: 0px;
  margin-top: 10px;
}

.info__container > span {
  color: blue;
  margin-bottom: 8px;
}

/* ESTILOS CARD TV_2 */

.cards__tv2 {
  display: flex;
  align-items: center;
  background-color: black;
}

.cards__info--tv2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: #FFF;
}

.cards__info > h1 {
  font-size: 3rem;
  font-weight: bold;
}

.cards__tv2 {
  display: flex;
  justify-content: center;
}

.cards__tv2 > img {
  width: 550px;
  height: 400px;
  z-index: 1;
}

.image__video_2 {
  width: 500px;
  height: 200px;
  margin-bottom: 110px;
  position: absolute;
}

.image__video_2 > video {
  width: 100%;
  height: 100%;
}
