.header {
  height: 100vh;
  background-image: url('../../images/background_header.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__info > h1 {
  font-size: 3rem;
  font-weight: bold;
}

.header__info > p {
  font-size: 1.1rem;
  font-weight: 300;
}


.formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formulario > input {
  width: 50%;
  height: 60px;
}

.formulario > button {
  width: 150px;
}

.header__container {
  height: 100%;
}

.header__image > img {
  width: 150px;
  height: 40px;
}

.header__title {
  display: flex;
  align-items: center;
  height: 100%;
}

.select {
  line-height: 1.3em;
  overflow: hidden;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  white-space: nowrap;
  background-color: transparent;
  color: white
}